body {
    background-color: rgb(59, 91, 101);
  }
  
  h2 {
    color: rgb(207, 247, 121);
    text-align:left;
  }
  
  p {
    font-family: verdana;
    font-size: 13px;
    color: azure;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(207, 247, 121);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(8, 2, 2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    transform: scale(1,2);
  }

  .fa {
    padding: 10;
    font-size: 15;
    width: 30;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;
  }

  .fa:hover {
    opacity: 0.4;
  }

  .fa-google {
    background-color: #dd4b39;
    color: white;
  }

  .fa-instagram {
    background-color: purple;
    color: white;
  }

  .fa-youtube {
    background-color: orange;
    color: white;
  }
